<h1>Dashboard</h1>

<h2>Orders by Status</h2>
<div class="order-counts">
  <table class="table table-striped">
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
    <% @orders_by_status.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %><br /></td>
      </tr>
    <% end %>
  </table>
</div>

<h2>Open Orders</h2>
<%= render partial: 'dashboard/orders/order_table', locals: { orders: @open_orders } %>

<h2>Closed Orders</h2>
<%= render partial: 'dashboard/orders/order_table', locals: { orders: @closed_orders } %>
