<div class="jumbotron center-text">
  <!-- <div class="home_page"> -->
  <%= image_tag('pig_roast.jpg', class: "pig_image") %>
  <h1>Aloha!</h1>
  <p>Best BBQ in the Islands</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
<!-- </div> -->
</div>
