<div class="jumbotron center-text">
  <%= image_tag('pig_roast.jpg', class: "pig_image") %>
  <h1>Aloha!</h1>
  <p>Best BBQ outside of the Islands</p>
  <p><%= link_to "View Menu", items_path, class: "btn btn-primary btn-lg" %></p>
</div>
