<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Full Name</th>
    <th>Status</th>
    <th>Total Sale</th>
    <th>Items</th>
    <th>Created</th>
    <th>Controls</th>
    <th></th>
  </tr>
  <%= render partial: 'dashboard/orders/order', collection: orders %>
</table>
