// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-counts {
}

.status-filtering li {
  font-size: 20px;
  display:inline;
  text-decoration: none;
}

.status-filtering li:after {
  content: " | ";
}

.status-filtering li:last-child:after {
  content: "";
}
