<div class="row center">
  <%= image_tag("palm_tree1.png", class: "header-images pull-left") %>
  <font style="font-weight: bold; display: inline-block; padding-top: 35px; font-size: 300%; margin-left: 27%;">The Best Hawaiian BBQ</font>
  <%= image_tag("palm_tree2.png", class: "header-images pull-right") %>
</div>
