<ul id="top-nav">
  <li><%= link_to "Logo here", root_path %></li>
  <li><%= link_to "Items", items_path %></li>
  <li><%= link_to "Items in cart: --", orders_path %></a></li>
  <li><a href="#">Contact</a></li>
  <li> <%= render "users/user_nav" %></li>
</ul>
